Deprecated2/ttt.lua
Deprecated2/main.lua
Deprecated2/snippets.lua
/Deprecated2
Deprecated2
notes.md
UIPanelTemplate.xml
UIPanelTemplates.xml
scratchpad.txt

.vscode/settings.json
--MyNotes.md
test.lua
ZUIssss.lua
___storage.lua
gottem copy 2.lua
gottem copy.lua
playerSpotted.lua
gottem.lua
gottem.lua
mythicInfo.lua
messager copy.lua
